@model HH.bll.DTOs.ProductDTO.CreateProductDTO
@using HH.web
@using HH.bll.DTOs.LanguageDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create Product"];
    int lngIndex = 0;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Create Product"]
            </h1>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12" >
                <form asp-action="Create" id="form" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                <input type="hidden" class="form-control" name="ProductTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />                                                         
                                    <label>@SharedLocalizer["Name"] *</label>
                                    <div id="name-@lngIndex"></div>
                                    <label>@SharedLocalizer["Short description"] *</label>
                                    <div id="shortdesc-@lngIndex"></div>
                                    <label>@SharedLocalizer["Description"] *</label>
                                    <div id="description-editor-@lngIndex"></div>
                                    <script>
                                    $( function() {
                                        $("#name-@lngIndex").dxTextBox({
                                            name: "ProductTranslates[@lngIndex].Name"
                                        }).dxValidator({
                                            validationRules: [{
                                                type: "required",
                                                message: '@SharedLocalizer["Enter"]'
                                            }]
                                        });
                                        $("#shortdesc-@lngIndex").dxTextBox({
                                            name: "ProductTranslates[@lngIndex].ShortDesc"
                                        }).dxValidator({
                                            validationRules: [{
                                                type: "required",
                                                message: '@SharedLocalizer["Enter"]'
                                            }]
                                        });
                                        $("#description-editor-@lngIndex").dxHtmlEditor({
                                            height: 250,
                                            toolbar: {
                                                items: [
                                                    "undo", "redo", "separator",
                                                    {
                                                        formatName: "header",
                                                        formatValues: [false, 1, 2, 3, 4, 5]
                                                    },
                                                    {
                                                        formatName: "size",
                                                        formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                                                    },
                                                        "bold", "italic", "strike", "underline", "separator",
                                                             "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                                                              "orderedList", "bulletList", "separator",
                                                              "color", "background", "separator",
                                                               "link", "image", "separator",
                                                               "clear", "codeBlock", "blockquote",
                                                    {
                                                        widget: "dxButton",
                                                        options: {
                                                            text: "Show markup",
                                                            stylingMode: "text",
                                                            onClick: function () {
                                                                popupInstance.show();
                                                            }
                                                        }
                                                    }
                                                ]
                                            },
                                            name: `ProductTranslates[@lngIndex].Description`,
                                        }).dxHtmlEditor("instance");
                                    });
                                </script>

                                lngIndex++;
                            }
                        </div>
                        <div class="col-lg-6">
                            <h2>@SharedLocalizer["Data"]</h2>
                            <hr />
                            <div class="form-group">
                                <label>@SharedLocalizer["Picture"] *</label>
                                <div id="image"></div>
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Sort order"] *</label>
                                <input type="number" class="form-control" name="SortOrder" />
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Request File"]</label>
                                <div id="requestFile"></div>
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Download File"]</label>
                                <div id="downloadFile"></div>
                            </div>
                              <div class="form-group">
                                <div id="published"></div>
                            </div> 
                            <div class="form-group">
                                <label>@SharedLocalizer["Options"]</label>
                                <div id="option"></div>
                            </div>  
                            <input type="hidden" id="options" asp-for="OptionIds" />
                       </div>
                 </div>
                     <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
          </div>
      </div>
</div>
@section Scripts {
    <script>
     $(function () {
         $("#image").dxFileUploader({
                selectButtonText: '@SharedLocalizer["Choose a picture"]',
                name: "FormImage",
                labelText: '@SharedLocalizer["or drag picture"]',
                accept: "image/*",
                uploadMode: "or drag",
                multiple: false,
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Upload picture"]'
                }]
            });
            $("#requestFile").dxFileUploader({
                selectButtonText: '@SharedLocalizer["Choose a file"]',
                name: "FormRequestFile",
                labelText: '@SharedLocalizer["or drag file"]',
                accept: "*",
                uploadMode: "or drag",
                multiple: false,
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Upload file"]'
                }]
            });
            $("#downloadFile").dxFileUploader({
                selectButtonText: '@SharedLocalizer["Choose a file"]',
                name: "FormDownloadFile",
                labelText: '@SharedLocalizer["or drag file"]',
                accept: "*",
                uploadMode: "or drag",
                multiple: false,
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Upload file"]'
                }]
            });
         let changedBySelectBox;
  let titleSelectBox;
  let clearSelectionButton;
  const dataGrid = $('#option').dxDataGrid({
    dataSource: "/api/ProductAPI/GetAllOption",
    keyExpr: 'optionId',
    showBorders: true,
    name: "ProductOption",
    selection: {
      mode: 'multiple',
    },
    columns: [
        {
      dataField: 'optionCode',
      caption: 'Option Name',
      valueExpr: 'optionCode'
    }],
    onSelectionChanged(selectedItems) {
        console.log(selectedItems);
        const data = selectedItems.selectedRowsData; 
        $("#options").val(
                data
                    .map((value) => `${value.optionId}`)
                    .join(", ")
            );
        }
    }).dxDataGrid('instance');
         $("#published").dxCheckBox({
                value: true,
                text: '@SharedLocalizer["Active"]',
                name: 'IsPublish',
            });
          $("#button").dxButton({
                text: '@SharedLocalizer["Add"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
        </script>
}
