@model HH.bll.DTOs.ProductDTO.CreateOptionContentDTO
@using HH.web
@using HH.bll.DTOs.LanguageDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create OptionContent"];
    int lngIndex = 0;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Create OptionContent"]
            </h1>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12" >
                <form asp-action="CreateOptionContent" id="form" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                <input type="hidden" class="form-control" name="OptionContentTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />                                                         
                                    <div class="form-group">
                                    <label>@SharedLocalizer["Title"]</label>
                                     <input type="text" class="form-control" name="OptionContentTranslates[@lngIndex].Title" />
                                    </div>
                                     <div class="form-group">
                                    <label>@SharedLocalizer["Description"]</label>
                                     <input type="text" class="form-control" name="OptionContentTranslates[@lngIndex].Description" />
                                    </div>
                                lngIndex++;
                            }
                        </div>
                        <div class="col-lg-6"> 
                            <div class="form-group">
                                <label>@SharedLocalizer["SortOrder"]</label>
                                <input type="number" class="form-control" name="SortOrder" />
                            </div>
                             <div class="form-group">
                                <label>@SharedLocalizer["Option"]</label>
                                <div id="option"></div>
                            </div>
                              
                       </div>
                </div>
                 <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
          </div>
      </div>
</div>
@section Scripts {
    
    <script>
        var getOption = new DevExpress.data.AspNet.createStore({
            key: "id",
            loadUrl: "/api/ProductAPI/GetOption",
            onBeforeSend: function (method, ajaxOptions) {
                ajaxOptions.xhrFields = { withCredentials: true };
            }
        });
     $(function () {
         $("#option").dxSelectBox({
                dataSource: getOption,
                displayExpr: "optionCode",
                valueExpr: "optionCode",
                name: "Optionn",
                searchEnabled: true
            });
        
          $("#button").dxButton({
                text: '@SharedLocalizer["Add"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
        </script>
}
