@model HH.bll.DTOs.ProjectDTO.EditLocationDTO
@using HH.web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using HH.bll.DTOs.LanguageDTO

@{
    ViewData["Title"] = SharedLocalizer["Edit Location"];


    int lngIndex = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Edit Location"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form asp-action="EditLocation" id="form" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-row">
                        <div class="col-lg-6">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                {
                                    var locationT = Model.LocationTranslates.FirstOrDefault(p => p.LanguageCulture == languageDTO.Culture);

                                    if (locationT != null)
                                    {
                                        <input type="hidden" name="LocationTranslates[@lngIndex].Id" value="@locationT.Id" />
                                        <input type="hidden" class="form-control" name="LocationTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />
                                        <div class="form-group">
                                            <label>@SharedLocalizer["Name"]</label>
                                            <input type="text" class="form-control" name="LocationTranslates[@lngIndex].Name" value="@locationT.Name" />
                                        </div>
                                    }
                                }

                                lngIndex++;
                            }   

                        </div>
                            <div class="col-lg-6">
                           <h2>@SharedLocalizer["Data"]</h2>
                            <hr />
                    
                            <div class="form-group">
                                <div id="published"></div>
                            </div>
                        </div>
                    </div>

               
                <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
         var getLocation = new DevExpress.data.AspNet.createStore({
             key: "id",
             loadUrl: "/api/ProjectAPI/GetAllLocationButThis/"+@Model.Id,
             onBeforeSend: function (method, ajaxOptions) {
                 ajaxOptions.xhrFields = { withCredentials: true };
            }
         });

        $(function () {
            let published = '@Model.IsPublish';
            $("#published").dxCheckBox({
                value: (published.toLowerCase() == 'true'),
                text: '@SharedLocalizer["Active"]',
                name: 'IsPublish',
            });

            $("#button").dxButton({
                text: '@SharedLocalizer["Edit"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
    </script>

}