@model HH.bll.DTOs.ServicesDTO.CreateServiceDTO
@using HH.web
@using HH.bll.DTOs.LanguageDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create Service"];

    int lngIndex = 0;

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Create Service"]
            </h1>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12" >
                <form asp-action="Create" id="form" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                <input type="hidden" class="form-control" name="ServiceTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />                                                         
                                    <div class="form-group">
                                       <label>@SharedLocalizer["Name"]</label>
                                       <input type="text" class="form-control" name="ServiceTranslates[@lngIndex].Name" />
                                    </div>
                                    <div class="form-group">
                                       <label>@SharedLocalizer["ShortDescription"]</label>
                                       <input type="text" class="form-control" name="ServiceTranslates[@lngIndex].ShortDesc" />
                                    </div>
                                    <div class="form-group">
                                       <label>@SharedLocalizer["Description"]</label>
                                       <input type="text" class="form-control" name="ServiceTranslates[@lngIndex].Description" />
                                    </div>

                                lngIndex++;
                            }
                        </div>
                        <div class="col-lg-6"> 
                            <div class="form-group">
                                <label>@SharedLocalizer["Image"]</label>
                                <input type="file" class="form-control" name="FormImage" />
                            </div>
                             <div class="form-group">
                                <label>@SharedLocalizer["Active"]</label>
                                <input type="checkbox" class="form-control" asp-for="IsPublish"/>
                            </div>                       
                       </div>
                </div>
                 <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
          </div>
      </div>
</div>
@section Scripts {
    <script>
     $(function () {
          $("#button").dxButton({
                text: '@SharedLocalizer["Add"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
        </script>
}
