@model HH.bll.DTOs.ClientDTO.EditClientDTO
@using HH.web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using HH.bll.DTOs.LanguageDTO

@{
    ViewData["Title"] = SharedLocalizer["Edit client"];


}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Edit client"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Edit" id="form" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-row">
                        <div class="col-lg-6">
                                <div class="form-group">
                                <label>@SharedLocalizer["Logo"] *</label>
                                <div id="image"></div>
                            </div>
                            @if (Model.Logo != null && Model.Logo.Length > 0)
                            {
                                <img src="~/images/client/@Model.Logo" class="img-responsive img-thumbnail" style="width: 130px;" />
                            }
                            <input type="hidden" name="Logo" value="@Model.Logo" />
                            <div class="form-group">
                                <label>@SharedLocalizer["Name"] *</label>
                                <input type="text" class="form-control" name="Name" value="@Model.Name" />
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Link"] *</label>
                                <input type="text" class="form-control" name="Link" value="@Model.Link" />
                            </div>
                        </div>
                    </div>

               
                <div class="dx-fieldset">
                    <br />
                    <div id="summary"></div>
                    <br />
                    <div id="button"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#image").dxFileUploader({
                                            selectButtonText: '@SharedLocalizer["Choose a picture"]',
                                            name: "FormLogo",
                                            labelText: '@SharedLocalizer["or drag picture"]',
                                            accept: "image/*",
                                            uploadMode: '@SharedLocalizer["or drag"]',
                                            multiple: false,
                                        });

           

            $("#button").dxButton({
                text: '@SharedLocalizer["Edit"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
    </script>

}