@using HH.web
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HH</title>
    <link rel="stylesheet" href="~/client/css/output.css" />
    <link rel="stylesheet" href="~/client/css/pickmeup.css" />
    <link rel="stylesheet" href="~/client/css/swiper.bundle.min.css" />
    <link rel="stylesheet" href="~/client/css/Video.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fonts/IBMPlexSans/stylesheet.css" />
    @RenderSection("Css", required: false)

    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/devextreme/css/dx.light.css" rel="stylesheet" />

    <script src="~/devextreme/js/jquery.min.js"></script>
    <script src="~/devextreme/js/dx-quill.min.js"></script>
 
    <!-- Styles -->
    <link href="~/assets/css/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/lib/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/lib/menubar/sidebar.css" rel="stylesheet" />
    <link href="~/assets/css/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/lib/helper.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <style>
        
        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            } 
            
    </style>
    
</head>
<body >
    <div class="sidebar  sidebar-hide-to-hide sidebar-shrink sidebar-gestures    ">
        @*sidebar-hide-to-small sidebar-shrink sidebar-gestures*@
            <div class="nano">
                <div class="nano-content">
                    <div class="logo"><a asp-action="Index" asp-controller="Admin">
                                @*<span>Halkara@Hyzmat</span>*@
                                <img src="/logo/logo.svg" />
                                </a></div>
                    <ul>
                        <li><a class="sidebar-sub-toggle">About Us<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="AboutUs" >About Us</a></li>
                                <li><a asp-action="Create" asp-controller="AboutUs" >Create</a></li>
                            </ul>
                        </li>
                        <li><a class="sidebar-sub-toggle">Banner<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Banner" >Banner</a></li>
                                <li><a asp-action="Create" asp-controller="Banner" >Create</a></li>
                            </ul>
                        </li>
                          <li><a class="sidebar-sub-toggle">Client<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Client" >Client</a></li>               
                                <li><a asp-action="Create" asp-controller="Client" >Create</a></li>
                            </ul>
                        </li>
                        <li><a class="sidebar-sub-toggle">Company<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Company" >News</a></li>               
                                <li><a asp-action="Create" asp-controller="Company" >Create</a></li>
                                <li><a asp-action="License" asp-controller="Company" >License</a></li>
                                <li><a asp-action="CreateLicense" asp-controller="Company" >Create License</a></li>
                            </ul>
                        </li>
                        <li><a class="sidebar-sub-toggle">Contact<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>                                  
                            </ul>
                        </li>
                        <li><a class="sidebar-sub-toggle">Mission<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Mission" >Mission</a></li>               
                                <li><a asp-action="Create" asp-controller="Mission" >Create</a></li>
                            </ul>
                        </li>
                        <li><a class="sidebar-sub-toggle">Product<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Product" >Product</a></li>               
                                <li><a asp-action="Create" asp-controller="Product" >Create</a></li>
                                <li><a asp-action="Option" asp-controller="Product" >Option</a></li>               
                                <li><a asp-action="CreateOption" asp-controller="Product" >Create Option</a></li>
                                <li><a asp-action="CreateOptionContent" asp-controller="Product" >Create Option Content</a></li>
                            </ul>
                        </li>
                        <li><a class="sidebar-sub-toggle">Project<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Project" >Project</a></li>                
                                <li><a asp-action="Create" asp-controller="Project" >Create</a></li>
                                <li><a asp-action="CreateLocation" asp-controller="Project" >Create Location</a></li>
                                <li><a asp-action="CreateStatus" asp-controller="Project" >Create Status</a></li>
                                <li><a asp-action="Location" asp-controller="Project" >Location</a></li>
                                <li><a asp-action="Status" asp-controller="Project" >Status</a></li>
                            </ul>
                        </li>
                        <li><a class="sidebar-sub-toggle">Service<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Service" >Service</a></li>                
                                <li><a asp-action="Create" asp-controller="Service" >Create</a></li>
                            </ul>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="nav-header  z-30 relative order-2">
                         <div class="xl:container xl:px-0 px-4 flex sm:justify-end justify-between h-12">
                    

                    @await Html.PartialAsync("_SelectLanguagePartial")
                    @await Html.PartialAsync("_LoginPartial")

                </div>
                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap">        
        @RenderBody()
    </div>
    @*<div  style="margin-left: 250px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@

    <!-- DevExtreme library -->
    
   
    <script src="~/devextreme/js/dx.all.js"></script>
    <script src="~/devextreme/js/localization/dx.messages.ru.js"></script>
    <script src="~/devextreme/js/dx.aspnet.data.js"></script>
    
    <!-- jquery vendor 12 -->
    @*<script src="~/assets/js/lib/jquery.min.js"></script>*@
    <script src="~/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <!-- bootstrap -->


    <script src="~/client/js/vendor/gsap/gsap.min.js" defer></script>
    <script src="~/client/js/vendor/swiper.min.js"></script>
    <script src="~/client/js/slider.js" defer></script>
    <script src="~/client/js/header.js" defer></script>
    <script src="~/client/js/Video.js" defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
